* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: black;
}

.activo {
  color: green;
  text-decoration: none;
}

.desactivado {
  color: red;
  text-decoration: none;
}

.fototexto {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

.pikachu {
  width: 500px;
  height: auto; 
}


nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  padding: 0 20px; 
}

.logo img {
  height: 30px; 
}

.container {
  max-width: 800px; 
  margin: 0 auto; 
  text-align: center; 
}

.card-container {
  text-align: center; 
  max-width: 600px; 
  margin: 0 auto; 
}

.pokemon-image {
  width: 300px; 
  height: auto;
}

